header {
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

header img {
    width: 200px;
    height: 40px;
}

header nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

header ul {
    display: flex;
    gap: 10px;
}

header a {
    text-decoration: none;
}

header .linkNovaPagina {  
    color: black;
    padding: 10px;
}

header .linkNovaPagina:hover {
    border: 1px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
    border-radius: 5px;
    color: var(--cor-texto-branco);
}

header li {
    list-style-type: none;
}

.botao-circular {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);

    padding: 5px;

    width: 80px;
    height: 40px;
    border-radius: 50px;

    color: var(--cor-texto-branco);
    cursor: pointer;
}
.lado-direito {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.carrinho {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-right: 10px;
}

.carrinho svg {
    width: 25px;
    height: 25px;
}

.carrinho svg path { 
    fill: #2c3aba;
}

.carrinho span {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 15px;
    
    width: 20px;
    height: 20px;

    background-color: red;
    border-radius: 50%;
    
    color: white;
    text-align: center;
    font-weight: 700;
}
