* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-image: linear-gradient(to top, #b836f8, #e92dca);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

article {
  background-image: linear-gradient(to bottom, #9932cc, #661358);
  width: 200px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
